@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.calc-button {
    display: block;
    float: left;
    font-size: 30px;
    background-color: rgba(220, 220, 220, 1);
    background-image: linear-gradient(
	to top left,
	rgba(0, 0, 0, 0.2),
	rgba(0, 0, 0, 0.2) 30%,
	rgba(0, 0, 0, 0)
    );
    margin: 5px;
    width: 50px;
    height: 50px;
}

#register-button {
    font-family: Courier;
    font-size: 20px;
    width: auto;
}

#calc-buttons {
    display: inline-block;
    width: 100%;
    padding: 10px;
    overflow: auto;
}

.calc-button:hover {
    background-color: rgba(255, 255, 255, 1);
}

#calc-info {
    font-family: Courier;
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
    display: block;
}

.registers-container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    overflow-x: scroll;
}

#extension-registers .grord-register {
    background-color: lightgray;
}

.grord-register {
    position: relative;
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 8px 4px 4px gray;
    animation: fadeIn 1s;
}

.grord-register mjx-container {
    animation: fadeIn 1s;
}

.grord-register:hover {
    box-shadow: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none; 
}

.copy-register {
    position: absolute;
    top: 3px;
    left: 3px;
    border: none;
    background-color: transparent;
}

.copy-register:active {
    opacity: 50%;
}
